body {
	font-family: "Montserrat", sans-serif;
	font-family: "Roboto Slab", serif;
}

.portfolio {
	background-color: #f7f7f7;
}

.portfolio img {
	width: 300px;
	height: 300px;
}

.box {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 30px;
	max-width: 300px;
}
