/* Style for "Header" */
 {
	width: 933px;
	height: 28px;
}

/* Style for "Golden" */
 {
	width: 79px;
	height: 28px;
	color: #fed136;
	color: #ffffff;
	font-family: "Wisdom - Script";
	font-size: 26px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 41px;
	text-align: left;
	/* Text style for "G, olden" */
	color: #fed136;
	font-style: normal;
	letter-spacing: 1.3px;
	line-height: normal;
}
